:root {
    --background: #050816;
    --surface: #111827;

    --primary: #8B5CF6;
    --secondary: #4F7DFF;
    --accent: #61DAFB;

    --text: #F8FAFC;
    --text-secondary: #CBD5E1;

    --border: #1F2937;
}